<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap milestone-1</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href="asset/css/style.css">
</head>
<body>

    <div id="root">
        <div class="container-fluid" id="Blocco-sfondo-1"></div> 



        <div class="container d-flex p-0" id="Blocco-interattivo">



            <aside class="col-4">   <!------------------------  aside  ------------------------> 

                <!----------------blocco avatar personale-->

                <div class="d-flex justify-content-between align-items-center" id="Blocco-Avatar">
                    <div class="d-flex align-items-center">
                        <img src="./avatar-pics/avatar_4.jpg" class="Avatar-pic">
                        <p class="Avatar-name">My Avatar</p>
                    </div>
                    <div class="Icone-avatar">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
               
                <!----------------bunner notifiche-->

                <div class="d-flex align-items-center justify-content-start" id="Blocco-Banner"> 
                    <div class="Layer-bannericon d-flex align-items-center justify-content-center">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="Banner-txt d-flex flex-column justify-content-start">
                        <p id="txt-banner1">Ricevi notifiche di nuovi messaggi</p>
                        <a id="txt-banner2">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!----------------blocco ricerca utenti-->

                <div class="d-flex align-items-center justify-content-center" id="Blocco-Ricercautenti">
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                    <i class="fas fa-search"></i>
                </div>

                 <!----------------lista contatti-->

                <div id="Blocco-Utenti">
                    <div v-for='(contact, index) in contacts' class="d-flex justify-content-between align-items-center" id="Blocco-Avatar">
                        <div class="d-flex align-items-center">
                            <img v-bind:src="contact.foto" class="Avatar-pic">
                            <p class="Avatar-name">{{contact.name}}</p>
                        </div>
                    </div>                   
                </div>

            </aside>




            <div class="col-8" id="Blocco-Chatting">  <!------------------------  Chat place  ------------------------> 

                <!----------------dati interlocutore-->

                <div class="d-flex justify-content-between align-items-center" id="Blocco-Chatter">
                    <div class="d-flex align-items-center">
                        <img src="./avatar-pics/avatar_4.jpg" class="Avatar-pic">
                        <div class="Banner-txt d-flex flex-column justify-content-start">
                            <p class="Avatar-name">milestone-1</p>
                            <p class="Avatar-access">Ultimo accesso oggi alle</p>
                        </div>
                    </div>
                    <div class="Icone-avatar">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!----------------lista messaggi-->















                <div id="Blocco-Chat">

                    <div 
                    v-for='(message, index) in contacts[0].messages' 
                    v-bind:class ="(message.status == 'sent')?'Message-sent':'Message-recived'" class="">
                        
                        <div class="Box-messaggio">
                            <p>{{message.text}}</p>
                        </div>
                        
                    </div>
                    
                </div>














                <!----------------campo di testo-->

                <div class="d-flex align-items-center justify-content-center" id="Blocco-Write">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>

            </div>



        </div>
    </div>


    
    <!----------------------- collegamenti ------------------------->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/bff27338f6.js" crossorigin="anonymous"></script>
    <script src="asset/js/main.js"></script>
</body>
</html>