*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #dadbd5;
}

#Blocco-sfondo-1{
    height: 150px;
    background-color: #009688;
}

#Blocco-interattivo{
    margin-top: -80px;
    height: 80vh;
    background-color: aliceblue;
}



/*---------- blocchi aside ------- */

aside{
    height: 100%;
}

#Blocco-Avatar{
    height: 80px;
    background-color: #eaeaea;
    border-right: 1px solid #c2c2c2;
}

#Blocco-Banner{
    height: 90px;
    background-color: #8edafc;
}

#Blocco-Ricercautenti{
    height: 50px;
    background-color: black;
}

#Blocco-Utenti{
    height: calc(100% - (80px + 90px + 50px));
    background-color: lightblue;
    overflow-y:scroll;
}



/*---------- blocchi 'Blocco-Chatting' ------- */

#Blocco-Chatting{
    height: 100%;
}

#Blocco-Chatter{
    height: 80px;
    background-color: #eaeaea;
}

#Blocco-Chat{
    height: calc(100% - (80px + 80px));
    background-image: url('../milestone-1/asset/immagini/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    overflow-y:scroll;
}

#Blocco-Write{
    height: 80px;
    background-color: #eaeaea;
}

