*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #dadbd5;
}

#Blocco-sfondo-1{
    height: 150px;
    background-color: #009688;
}

#Blocco-interattivo{
    margin-top: -80px;
    height: 80vh;
    background-color: aliceblue;
}



/*---------- blocchi aside ------- */

aside{
    height: 100%;
}

#Blocco-Avatar{
    height: 100px;
    background-color: #eaeaea;
    border-right: 1px solid #c2c2c2;
}

#Blocco-Banner{
    height: 110px;
    background-color: #8edafc;
}

#Blocco-Ricercautenti{
    height: 50px;
    background-color: #eaeaea;
}

#Blocco-Utenti{
    height: calc(100% - (100px + 110px + 50px));
    background-color: white;
    overflow-y:scroll;
}



/*---------- blocchi 'Blocco-Chatting' ------- */

#Blocco-Chatting{
    height: 100%;
}

#Blocco-Chatter{
    height: 100px;
    background-color: #eaeaea;
}

#Blocco-Chat{
    height: calc(100% - (100px + 90px));
    background-image: url('css-picture/sfondochat.png');
    overflow-y:scroll;
}

#Blocco-Write{
    height: 90px;
    background-color: #eaeaea;
}



/*---------- id="Blocco-Avatar" ------- */

.Avatar-pic{
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 20px;
}

.Avatar-name{
    margin-left: 20px;
    margin-bottom: 0;
    line-height: 50px;
    font-size: larger;
}

.Icone-avatar {
    margin-right: 35px;
}

.Icone-avatar i{
    font-size: 30px;
    color: #b1b1b1;
    padding: 8px;
}

.Icone-avatar i:hover{
    cursor: pointer;
    color: #585858;
}

/*---------- ------- */